@import "../Variables.scss";

.HomePage {
	display: flex;
	flex-direction: column;
}

.Screen {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	height: 100vh;

	.PacksList {
		gap: 10px;

		flex-wrap: wrap;
		max-width: 400px;

		.PackItem {
			gap: 5px;
			padding: 5px;

			color: var(--text-color);
			background: rgba(black, 0.2);
			backdrop-filter: blur(20px);
			border-radius: 100px;
			padding: 5px;
			font-weight: 500;
			font-size: 0.8em;
			text-transform: uppercase;

			transform: none;
			border: 2px solid;
			cursor: pointer;

			.Text {
				margin-left: 10px;
				margin-top: 2px;
			}

			transition: color $ft, border-color $ft;

			&:hover {
				color: #7fff7f;
				border-color: #7fff7f;
			}

			&.AddItem {
				&:hover {
					color: #ff778f;
					border-color: #ff778f;
				}
			}

			.Tooltip {
				color: black;
				background: var(--text-color);
				border-radius: 7px;
			}

			.TooltipArrow {
				background: none;
			}
		}
	}

	&.StartupScreen {
		color: white;

		.Avatar {
			transform: translateX(-20px);
			cursor: pointer;
		}
	}

	.Avatar {
		width: 70px;
		height: 70px;
		border-radius: 100%;
	}

	.Buttons {
		flex-direction: column;
		gap: 15px;

		.Divider {
			background: rgba(white, 0.5);
			border-radius: 10px;
			height: 2px;
			width: 60%;
			margin: 10px 0;
		}

		.InputContainer {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			.Title {
				margin-bottom: 7px;
				font-weight: 500;
			}

			.Input {
				outline: none;
				color: var(--text-color);
				background: rgba(black, 0.2);
				backdrop-filter: blur(20px);
				border-radius: 100px;
				padding: 12px 30px;
				font-size: 1em;
				font-weight: 200;

				transform: none;
				border: 2px solid;

				width: 180px;

				text-align: center;

				&::placeholder {
					color: rgba(white, 0.3);
				}
			}
		}

		.Button {
			width: 250px;
		}
	}
}

.Mobile {
	.StartupScreen {
		.ProfilePicker {
			position: absolute;
			transform: translateY(-100px);
		}

		.Avatar {
			transform: none;
		}

		.ProfileUsername {
			align-items: center;

			.Input {
				width: 50% !important;
			}
		}
	}
}